.profile-icons img{
	width: 22px;
	height: 22px;  
}

.project-content{
	text-align: center;
	margin-left: 30px;
}

.project-container{
	display: inline-block;
    width: 35%;
	text-align: center;
	margin-top: 5%;
	margin-right: 5%;
	background: whitesmoke;
    box-shadow: 0 0 20px lightgrey;
    padding: 10px; 
}

.project-container h1{
	margin-top: 0;
	color: #3385FF;
}

.project-img{
    width: 30%;
    height: 30%;
}

.project-description {
    color: #676a6c;
}

/* animations */
.rollIn{
    animation-name: rollIn;
    animation-duration: 2s;
    animation-fill-mode: both;
}

.slideInLeft {
  animation-name: slideInLeft;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.slideInRigth {
  animation-name: slideInRigth;
  animation-duration: 3s;
}

@keyframes rollIn {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRigth {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
