.divider {
  border-bottom: solid 1px lightgray;
  clear: left;
  color: lightgray;
  width: 90%;
  padding-bottom: 2px;
  font-size: 1.15em;
}

.size-icon-flecha {
  font-size: 0.6em;
  float: right;
}

.blue-divider {
  border-bottom: solid 1px #3385FF;
  color: #3385FF;
}

.float-left {
    float: left;
}

.content-skills {
    margin-top: 5%;
    margin-left: 10%;
}

.container-skill{
    clear: left;
}

.skill-panel-name {
    width: 70px;
    border-right: 3px solid #0066FF;
    padding-right: 10px;
    color: #0066FF;
}

.skill-panel-name p {
    vertical-align: middle;
    font-size: 1vw;
}

.skill-panel-bars {
    margin-top: 18px;
    white-space: nowrap;
    width: 700px;
    background-color: whitesmoke;
}

.skill-panel-bars div {
    background-color: #3385FF;
    height: 15px;
}

/* animations */
.rollIn{
    animation-name: rollIn;
    animation-duration: 2s;
    animation-fill-mode: both;
}

.slideInLeft {
  animation-name: slideInLeft;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.slideInRigth {
  animation-name: slideInRigth;
  animation-duration: 3s;
}

@keyframes rollIn {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRigth {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
