<md-sidenav-container style="margin: 0; width: 100%; height: 100%;">
	
	<md-sidenav #sidenav mode="side" opened="true" style="    box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);">
		<app-me-card></app-me-card>
	</md-sidenav>
	 
	<nav md-tab-nav-bar>
	  <a md-tab-link
		*ngFor="let tab of tabs"
		[routerLink]="tab.link"
		[routerLinkActive]="['tab-active']">
		{{tab.name}}
	  </a>
	</nav>
	<router-outlet></router-outlet>
</md-sidenav-container>

