<md-sidenav-layout>
  <md-sidenav #sidenav mode="push" opened="true">
    Sidebar here
  </md-sidenav>

  <md-toolbar color="primary">
    <button (click)="sidenav.open()">
      menu
    </button>
    Angular Material 2 App
  </md-toolbar>
  <p>...</p>
  <p>...</p>
  <p>Position: {{top}}</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
  <p>...</p>
</md-sidenav-layout>