<md-sidenav-layout>
    <md-sidenav #sidenav mode="side" opened="true">
        <h1>Names</h1>
        <p>Full stack developer description</p>
        <p>iconos..</p>
    </md-sidenav>
    <md-tab-group>
        <md-tab label="Skills">
            <h1>Skills</h1>
            <p>lalalalal</p>
        </md-tab>
        <md-tab label="Proyectos">
            <h1>Proyectos</h1>
            <p>...</p>
        </md-tab>
        <md-tab label="Extras">
            <h1>extras</h1>
            <p>...</p>
        </md-tab>
    </md-tab-group>
</md-sidenav-layout>
