
.profile-pic {
    border-radius: 50%;
    width: 50%;
    height: 50%;
}

.profile-data {
    text-align: center;
    margin: 20% 10%;
    color: #676a6c;
}

.profile-icons img{
	width: 32px;
	height: 32px;  
}


.last-name {
    font-size: 0.7em;
}