<div class="profile-data">
    <img src="https://avatars0.githubusercontent.com/u/14795272?v=3&u=40650119908b3b3daaf7ab0e9b8b5326dbb9909f&s=400" alt="Imagen" class="profile-pic">
    <h1> 
        <span class="last-name">Yeison Gomez Rodriguez</span>
    </h1>
    <p>Desarrollador Full Stack, entusiasta al constante cambio de tecnologías.</p>
    <div class="profile-icons">
        <a class="cursor-hand" href="https://www.facebook.com/Yeisongomez2028" target="_blank" title="Facebook">
            <img src="https://cdn0.iconfinder.com/data/icons/social-15/200/Facebook-icon-128.png" alt="Facebook">
        </a>
        <a class="cursor-hand" href="mailto:yeisom40@gmail.com" target="_blank" title="Email">
            <img src="https://cdn0.iconfinder.com/data/icons/social-15/200/mail-icon-128.png" alt="Email">
        </a>
        <a class="cursor-hand" href="https://github.com/YeisonGomez" title="GitHub">
            <img src="https://cdn0.iconfinder.com/data/icons/social-15/200/github-icon-128.png" alt="GitHub">
        </a>
    </div>
</div>
