.name-general {
  margin-left: 15%;
}

.information {
  background: whitesmoke;
	width: 70%; 
	height: 8em;
	float: left;
	border-radius: 30px;
  margin-left: 40px;
  -webkit-box-shadow: 10px 7px 10px -1px rgba(179,179,179,1);
  -moz-box-shadow: 10px 7px 10px -1px rgba(179,179,179,1);
  box-shadow: 10px 7px 10px -1px rgba(179,179,179,1);
}

.padding {
  padding-bottom: 183px;
}

.content-information {
  margin-left: 3%;
}

.name-reference {
  margin-top: 1%;
}

.text-ligthgray {
  color: #676a6c;
}

.description-reference {
  margin-top: -2%;
}

.center-div {
	margin-left: auto;
  margin-right: auto;
  display: table;
}

.circular {
	width: 110px;
  height: 110px;
  border-radius: 100px;
}

.shadown-border {
	-webkit-box-shadow: 7px 10px 28px 2px rgba(125,125,125,1);
	-moz-box-shadow: 7px 10px 28px 2px rgba(125,125,125,1);
	box-shadow: 7px 10px 28px 2px rgba(125,125,125,1);
}

.space-border {
	float: left;
}

.center-element {
    top: 40%;
    bottom: 30%;
    left: 50%;
    position: relative;
}

.animation-left {
	animation-duration: 2s;
	animation-name: slideLeft;
}

@keyframes slideLeft {
  from {
    margin-left: 41%;
    width: 300%
  }

  to {
    margin-left: 3%;
    width: 80%;
  }
}